$reddish-brown: #d77b5d;
$reddish-brown-dark: #94553f;
$reddish-brown-white: #d77b5d57;
$blue-gray-dark: #24324a;
$blue-gray-white: #24324a61;
$white: #fff;
$red: #d36161;
$blue-gray: #818a9c;
$gray: #e1e1e1;
$f-shadow-light-color: rgba(0, 0, 0, 0.1);