.f-overflow-auto {
    overflow: auto;
}

.f-overflow-hidden {
    overflow: hidden;
}

.f-overflow-x-auto {
    overflow-x: auto;
}

.f-overflow-y-scroll {
    overflow-y: scroll;
}

.f-overflow-y-auto {
    overflow-y: auto;
}

.f-overflow-x-hidden {
    overflow-x: hidden;
}

.f-overflow-y-hidden {
    overflow-y: hidden;
}