@import "../../styles/colors.scss";
@import "../../styles/functions.scss";

:host {
    .grid-container {
        position: relative;
        @include grid-layout(repeat(auto-fit, minmax(350px, 1fr)));
        gap: 20px;
        width: 100%;
        height: calc(100vh - 340px);
        padding: 20px;
        text-rendering: optimizeLegibility;
        box-sizing: border-box;

        .card {
            padding: 20px;
            position: relative;
            height: 200px;
            border: 1px solid $gray;
            background-color: $white;
            @include box-shadow-light(0 0 30px 0);
            max-width: 350px;
        }

    }

    .loader {
        margin: 0 auto;
        padding: 50px 0;

        .k-loader-primary {
            color: $reddish-brown;
            padding: 30px 0;
        }
    }
}
